:root {
  --black: #191919;
  --white: #ffffff;
  --background: var(--black);
  --color: var(--white);
  /* --font: ; */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
